.movie-list-container {
  width: 100%;
  margin: 1rem auto 3rem auto;
}

.movie-list-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #222;
}

.movie-list-container h1 {
  color: black;
  font-size: 30;
}

.movie-card {
  background: #fff;
  padding: 1.2rem 1.5rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  transition: 0.2s;
}

.movie-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px);
}

.movie-card h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #111;
}

.stars {
  color: #ffc107;
  margin: 0.3rem 0 0.5rem;
  font-size: 1.25rem;
}

.review {
  font-size: 0.95rem;
  color: #444;
  font-style: italic;
  margin-top: 0.5rem;
}