body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #dae0e6;
}

/* Make overall layout centered */
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}