@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Poppins&display=swap');
*{
    font-family:'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form{
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
    padding: 15px;
    background: white;
}

form input{
    border-radius: 15px 0 0 15px;
}

form button{
    border-radius: 0 15px 15px 0;
}

form button{
    color: #dd6d47;
    background-color:#f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    color: #f7fffe;
    background-color: #ff6f47;
}

.todo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease;
    border-radius: 12px;

}

.todo li{
    flex: 1;
    padding: 0 0 0 1rem ;
}

.trash-btn, .complete-btn{
    background: #ff6f47;
    color: white;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.trash-btn{
    border-radius: 0 12px 12px 0;

}

.complete-btn{
    background-color: rgb(11, 212, 162);
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}