*{
  margin: 0;
  padding: 0;
}

body{
  background-color: azure;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}


.text{
  text-align: center;
  font-size: 20;
  color: #0000ff;
}


.link{
  text-align: center;
  font-size: 30;
  
}