/* google fonts Open Sans */
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

#calculator{
    width: 320px;
    height: 520px;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    background-color: black;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
}

#result{
    height: 120px;
    color: white
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
    height: 400px;
}

.operator, .number{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.operator{
  background-color: #ffa500;
}

.number{
    background-color: #eaedef;
}

.mumber, .operator{
    cursor: pointer;
}

